{% extends 'admin/master.html' %}
{% block body %}

<script src="http://code.jquery.com/jquery-1.8.1.min.js"></script>

<script type="text/javascript">
$(document).ready(function() {
	$('label').addClass('control-label');
})
</script>
        <form class="form-horizontal" action='' method='POST'>
        	{{ form.csrf_token }}
		
		{% for field in form if field.type != 'CSRFTokenField' %}
		<div class="control-group">
 		{{ field.label }}
		<div class="controls">
		{{ field }}
		{% if field.errors %}
		<ul style='color:red'>
                {% for e in field.errors %}
		<li><span class="help-block" style='color:red'>{{ e }}</span></li>
		{% endfor %}
		</ul>
		{% endif %}
		</div>
		</div>
		{% endfor %}

		<div class="form-actions">
		<button type="submit" class='btn btn-primary'>Login</button>
		</div>
        </form>
{% endblock %}
